@font-face {
	font-family: 'Roboto Condensed Bold';
	src: url('../fonts/RobotoCondensed-Bold.ttf'), url('../fonts/RobotoCondensed-Bold.otf'), url('../fonts/RobotoCondensed-Bold.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Black';
	src: url('../fonts/Roboto-Black.ttf'), url('../fonts/Roboto-Black.otf'), url('../fonts/Roboto-Black.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light.ttf'), url('../fonts/Roboto-Light.ttf'), url('../fonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('../fonts/Roboto-Thin.ttf'), url('../fonts/Roboto-Thin.ttf'), url('../fonts/Roboto-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/Roboto-Bold.ttf'), url('../fonts/Roboto-Bold.ttf'), url('../fonts/Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}